.whole{
    width:800px;
    overflow: hidden;
    margin:30px auto 0;
}
.page-bar{
    margin:40px;
}
ul,li{
    margin: 0;
    padding: 0;
}
li{
    list-style: none
}
.page-bar ul{
    overflow: hidden;
    text-align: center;
}
.page-bar li{
    display: inline-block;
}
.page-bar li:first-child>a {
    margin-left: 0;
}
.page-bar a{
    display: block;
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}
.page-bar a:hover{
    background-color: #eee;
}
.page-bar a.banclick{
    cursor:not-allowed;
}
.page-bar .active a{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.page-bar i{
    font-style:normal;
    color: #d44950;
    margin: 0 4px;
    font-size: 12px;
}
.projectContent{
    padding: 20px 50px;
}
.baseInfo,.home {
    width: 481px;
    margin: 0 auto;
}
.baseInfoItem{
    overflow: hidden;
}
.projectContentItem{
    overflow: hidden;
    padding-left: 100px;
}
.baseInfoItem{
    width:240px;
    overflow: hidden;
    display: inline-block;
}
.projectContentItem span,.baseInfoItem span{
    float:left;
    width:110px;
    height: 30px;
    line-height: 30px;
}
.baseInfoItemEntertainment span{
    float:left;
    width:200px;
    height: 30px;
    line-height: 30px;
}
.baseInfoItemEntertainment div{
   overflow: hidden;
    line-height: 30px;

}
.baseInfoItem div{
    float:left;
    height:25px;
    line-height: 25px;
}
.baseInfoItem:nth-child(2n){
    width: 210px;
    padding-left: 30px;
}
.baseInfoItem:nth-child(2n) div{
    padding-left: 10px;
}
.projectContentItem div,.baseInfoItem div{
    overflow: hidden;
}